.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer a {
    color: #f0a500;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-top: 10px;
    font-size: 14px;
}
